*{
    font-family: Quicksand,'Nunito Sans','Helvetica Neue',Helvetica,Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans',sans-serif!important;
}
input{
    border:3px;
}
body{font: 15px / 1.4 sans-serif;font-weight : 500;}
strong,b,h1,h2,h3,h4,h5{font-weight:500!important}
.left{float: left;}
.right{float: right;}

#header{
    position: relative;
    top : 0;
    right: 0;
    left: 0;
    background-color: #346cb0;
    color: hsla(0,0%,100%,.8);
    height: 3.5rem;
    z-index: 1030;
    box-shadow: 0 0 0 1px rgba(20,20,31,.05), 0 1px 3px 0 rgba(20,20,31,.15);
}
#header .login{
    margin-left: 3px;
}
#logo, #logo a{
    color:fff!important;
}
.top-bar {
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    height: 3.5rem;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: auto;
}

.top-bar-brand {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    padding: 0 .5rem 0 1rem;
    height: 3.5rem;
    width: 15rem;
    font-size: 12px;
    -ms-flex-align: center;
    align-items: center;
}
.top-bar-note {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    margin-right: 7px;
    float: right;
    font-size : 100%;
}
@media screen and (max-width : 762px)
{
    .notice{display:none;}
}
.introduce{

    background: #8a0abd;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 40px 30px;
    display: block;
    background-image: linear-gradient(to right, #33b5af, rgba(218, 59, 147, 0.88));
    box-shadow: 3px 3px 10px rgb(172, 167, 167);
    -webkit-box-shadow: 3px 3px 10px rgb(172, 167, 167);
}

.survey-content{
    margin-top : 50px;
}
.survey-content h3{text-align:center;}
.pqt-btn{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    max-width: 250px;
}

.group{
    background-color: #346cb0;
    padding: 2px;
    position: relative;
}
.group-title{
    font-size: 15px;
    color:#fff;
    padding : 3px;
    margin-top : 5px;
}
.group-title input{
    border : 3px;
}
.group-content{
    padding: 10px;
    background: #fff;
   
}
.group-content .box-question{
position: relative; 
}

.delete-group{
    top: 0;
    position: absolute;
    right: 0;
    font-size: 11.6px;
    border-radius: 0;
}
.box-question .delete-group{
    top : 30;
}
.title-input{
    margin-top: -5px;
}
@media screen and (min-width:900px)
{
    .group-quiz{
        min-width: 400px;
    }
}
.group textarea{
    height: 50px;
}


.toggle {
    position: relative;
    display: block;
    width: 42px;
    height: 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .toggle:before {
    content: "";
    position: relative;
    top: 1px;
    left: 1px;
    width: 40px;
    height: 22px;
    display: block;
    background: #c8ccd4;
    border-radius: 12px;
    transition: background 0.2s ease;
  }
  .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    display: block;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(154,153,153,0.75);
    transition: all 0.2s ease;
  }
  .toggle span svg {
    margin: 7px;
    fill: none;
  }
  .toggle span svg path {
    stroke: #c8ccd4;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 24;
    stroke-dashoffset: 0;
    transition: all 0.5s linear;
  }
  #cbx:checked + .toggle:before {
    background: #52d66b;
  }
  #cbx:checked + .toggle span {
    transform: translateX(18px);
  }
  #cbx:checked + .toggle span path {
    stroke: #52d66b;
    stroke-dasharray: 25;
    stroke-dashoffset: 25;
  }
  .center {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 21px);
  }
  



  /* Login css */

  .pqt-form {
    line-height: 40px;
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    background: #1565c0;
    padding: 3px;
    box-shadow: 3px 3px 10px rgb(172, 167, 167);
    -webkit-box-shadow: 3px 3px 10px rgb(172, 167, 167);
    border-radius: 10px 10px 2px 2px;
}
.pqt-form .pqt-title {
    text-align: center;
    color: #fff;
    background: #1565c0;
}
.pqt-form .pqt-content {
    padding: 20px;
    line-height: 20px;
    text-align: center;
    background: #fff;
}
.pqt-form .pqt-content form label {
    margin: 0;
    font-weight: 600;
    display: block;
    margin-bottom: -30px;
}
.pqt-form .pqt-content form input {
    width: 100%;
    padding: 4px;
    margin-top: 21px;
    border: 3px;
    border-top: 1px solid #0789c7;
    border-bottom: 1px solid #0789c7;
    text-align: center;
    height: 2.6rem;
    outline: none;
    font-size: 1rem;
    transition: .3s;
}
.pqt-form .pqt-content form label {
    margin: 0;
    font-weight: 600;
    display: block;
    margin-bottom: -30px;
    padding: 10px;
}
.pqt-form .pqt-content form input {
    width: 100%;
    padding: 4px;
    margin-top: 21px;
    border: 3px;
    border-top: 1px solid #0789c7;
    border-bottom: 1px solid #0789c7;
    text-align: center;
    height: 2.6rem;
    outline: none;
    font-size: 1rem;
    transition: .3s;
}
.pqt-btn {
    border: 4px;
    font-family: Quicksand!important;
    margin-top: 21px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
    width: 100%;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
}
.full{width:100%}
.blue {
    color: #fff;
    background: #0789c7;
    box-shadow: 3px 3px 14px rgb(106, 168, 187);
    -webkit-box-shadow: 3px 3px 14px rgb(106, 168, 187);
}


.group-content ul li{
    list-style-type: decimal;
}




/* Radio */
body {
    font-family: "Roboto", sans-serif;
  }
  .radio {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    margin: 15px;
  }
  .radio .label {
    position: relative;
    display: block;
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #c8ccd4;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  .radio .label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #225cff;
    transform: scale(0);
    transition: all 0.2s ease;
    opacity: 0.08;
    pointer-events: none;
  }
  .radio:hover .label:after {
    transform: scale(3.6);
  }
  input[type="radio"]:checked + .label {
    border-color: #225cff;
  }
  input[type="radio"]:checked + .label:after {
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
    opacity: 1;
  }
  .cntr {
    top: calc(50% - 10px);
    left: 0;
    text-align: center;
  }
  .hidden {
    display: none;
  }
  .credit {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0.6;
  }
  .credit img {
    width: 72px;
  }
  .credit:hover {
    transform: scale(0.95);
  }
  
  /* Table */
  table{
    word-break: break-all;
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
    width: 100%;
    text-align: center;
  }
  table th{
    background: rgb(255, 255, 255);
    color: #040404;
    font-weight: 400!important;
  }
table td{
    border: 1px solid #dcd4d4;
    border-collapse: collapse;
    
}
.questions{
    min-width: 400px;
}